  <div class="container">
    <h3>Lista de Perfis</h3>
    <ul>
      <li *ngFor="let perfil of perfis">
        <h4>
          <a href="perfil/{{perfil.id}}/">{{ perfil.first_name }} {{ perfil.last_name }}</a>
          <button (click)="delete(perfil.id)">x</button>
        </h4>
      </li>
    </ul>
    
    <form class="example-form">
        <mat-form-field class="example-full-width">
          <input #perfilUsername type="text" placeholder="Username">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input #perfilFirstName type="text" placeholder="First Name">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input #perfilLastName type="text" placeholder="Last Name">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input #perfilEmail type="text" placeholder="Email">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input #perfilSenha type="text" placeholder="Senha">
        </mat-form-field>
        <button (click)="add(perfilUsername.value, perfilFirstName.value, perfilLastName.value, perfilEmail.value, perfilSenha.value)">Adicionar</button>
    </form>
    {{ error?.message }}
    
  </div>     