table {
    width: 100%;
  }

  mat-grid-tile {
    background: lightblue;
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }