<div class="container">
    <h3>Lista de Questionários</h3>
    <ul>
      <li *ngFor="let questionario of questionarios">
        <h4>
          <a href="questionario/{{questionario.id}}/">{{ questionario.descricao }}</a>
          <button (click)="delete(questionario.id)">x</button>
        </h4>
      </li>
    </ul>
    
    <form class="example-form">
        <mat-form-field class="example-full-width">
          <input #descricaoQuestionario type="text" placeholder="descricao">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input #autorQuestionario type="text" placeholder="Autor">
        </mat-form-field>
        
        <button (click)="add(descricaoQuestionario , autorQuestionario)">Novo</button>
    </form>
    {{ error?.message }}
    
  </div>     